button{
    padding: 1rem 2rem;
    background-color: aqua;
    color: black;
}
.container{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 180px;
    border: 1px solid black;
    padding: 3rem;
    margin: 1rem;

}
.box{
    
}

